body {
	font-family: "Atkinson", sans-serif;
	background-color: var(--surface1);
	color: var(--text-color);
	margin: 0;
	font-size: var(--step-0);
}

a {
	color: currentColor;
}

// Wrapper
.wrapper {
	width: Min(calc(100% - var(--space-l)), 80rem);
	margin-inline: auto;

	&--xl {
		width: Min(100%, 125rem);
	}

	&--prose {
		max-width: 65ch;
	}
}

// Section Spacing
.section {
	padding-block: var(--space-l-3xl);

	&--small {
		padding-block: var(--space-s-l);
	}
}

// Links
a {
	&:hover,
	&:focus {
		text-decoration: none;
	}
}

// Flow
.flow > * + * {
	margin-top: var(--flow-space, 1em);
}

pre {
	display: block;
	background-color: var(--surface3);
	padding: var(--space-s);
	border-radius: var(--space-2xs);
	max-height: 20em;
	overflow: auto;

	@media (min-width: 800px) {
		max-height: 40em;
	}
}

main {
	padding-block: var(--space-2xl);
	// --flow-space: 2em;
}

table {
	border-collapse: collapse;

	th {
		font-weight: bold;
	}

	td,
	th {
		padding: var(--space-xs) var(--space-s);
	}
}

tbody {
	tr:nth-child(even) {
		background-color: var(--surface3);
	}
}

thead {
	tr {
		border-bottom: solid var(--space-3xs) var(--surface3);
	}
}

.copy-path {
	background-color: rgba(0, 0, 0, 0.5);
	border: none;
	outline: 0;
	color: white;
	padding: var(--space-2xs) var(--space-xs);
	border-radius: var(--space-2xs);
}

// GitHub Corner

.github-corner {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 10;
}
.github-corner:hover .octo-arm {
	animation: octocat-wave 560ms ease-in-out;
}
@keyframes octocat-wave {
	0%,
	100% {
		transform: rotate(0);
	}
	20%,
	60% {
		transform: rotate(-25deg);
	}
	40%,
	80% {
		transform: rotate(10deg);
	}
}
@media (max-width: 500px) {
	.github-corner:hover .octo-arm {
		animation: none;
	}
	.github-corner .octo-arm {
		animation: octocat-wave 560ms ease-in-out;
	}
}

// Scrollbar
/* Works on Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: cadetBlue var(--surface-reverse);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 0.6em;
}

*::-webkit-scrollbar-track {
	background: var(--surface2);
}

*::-webkit-scrollbar-thumb {
	background-color: cadetblue;
	border-radius: 0;
}
