header {
	background-image: url("../img/header.svg");
	background-size: 75em auto;
	background-position: top center;
	padding-block: var(--space-2xl-3xl) calc(var(--space-2xl-3xl) * 2);
	min-height: 60vh;
	text-align: center;
	display: grid;
	place-content: center;
	position: relative;

	@media (min-width: 100em) {
		background-size: 100em auto;
	}

	&:before {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		top: 0;
		background-image: linear-gradient(
			to bottom,
			rgba(0, 0, 0, 0),
			var(--surface1)
		);
		display: block;
		z-index: 1;
	}

	.wrapper {
		position: relative;
		z-index: 2;
		overflow: auto;
	}
}
