.try {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: column;

	@media (min-width: 800px) {
		flex-direction: row;
	}

	> * {
		padding: var(--space-2xs);
		width: 100%;

		@media (min-width: 800px) {
			width: auto;
		}
	}

	label {
		background-color: rgba(0, 0, 0, 0.2);
		color: lightgray;
		border-radius: var(--space-2xs) var(--space-2xs) 0 0;

		@media (min-width: 800px) {
			border-radius: var(--space-2xs) 0 0 var(--space-2xs);
		}
	}

	input {
		border: none;

		@media (min-width: 800px) {
			flex: 1;
		}
	}

	button {
		background-color: rebeccapurple;
		color: white;
		border: none;
		padding-inline: var(--space-m);
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 0 0 var(--space-2xs) var(--space-2xs);

		@media (min-width: 800px) {
			border-radius: 0 var(--space-2xs) var(--space-2xs) 0;
		}
	}

	&__buttons {
		display: flex;
		flex-wrap: wrap;
		gap: var(--space-2xs);
		justify-content: center;

		button {
			background-color: dodgerblue;
			border-radius: var(--space-2xs);
			border: none;
			padding-inline: var(--space-2xs);
			display: inline-flex;
			align-items: center;
			justify-content: center;
			font-size: var(--step--1);
			color: white;

			&:nth-child(2) {
				background-color: rebeccapurple;
			}

			&:last-child {
				background-color: darkslategrey;
			}
		}
	}

	&__response {
		display: none;
	}
}
